<html>
<head>
<title>Hi there!!!</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/style.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/marked.js"></script>

</head>

<body>
  <div class="container">
<!-- header row almost a slide intro -->
<div class="row">
  <div class="col-md-12">
      <h1 class="jumbotron">{{title}}</h1>
  </div>
</div>
<!-- content row and side bar row -->
<div class="row">
  <div class="col-md-2">
    <div class="lists">
    <ul>
      <li><a href="/chap1">lolz</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">2</a><li>
    </ul>
  </div>
  </div>
    <div class="col-md-10 content">
        {{{intro}}}
    </div>
  </div>
</div>

</body>
<html>
